@import 'src/shared/variables';

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 4px;
  border: none;
  border-radius: 50%;
  font-size: $font-size-medium;
  color: $white;

  background-color: $primary-blue;

  &:focus {
    outline: 0;
  }

  &_new-messages {
    align-self: flex-end;
  }
}
