@import 'src/shared/variables';

.profile-edit-input {
  &__container {
    display: flex;
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid $primary-grey;
    text-align: right;
    color: $secondary-grey;

    &:last-child {
      border-bottom: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &__label {
    position: absolute;
    pointer-events: none;
    cursor: text;
    bottom: 12px;
    left: 0;
    width: 100%;
    transition: 0.2s;

    &_invalid {
      color: $primary-red;
      bottom: 0;
    }
  }
}
