@import 'src/shared/variables';

.chat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border-bottom: 1px solid $primary-grey;
  cursor: pointer;

  &:hover {
    background-color: $secondary-blue;
  }

  &_selected {
    background-color: $secondary-blue;
  }

  &:first-child {
    border-top: 1px solid $primary-grey;
  }

  &__avatar {
    display: flex;
    border-radius: 50%;
    background-color: $primary-grey;
    width: 50px;
    height: 50px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 50px;
    flex-grow: 1;
    margin-left: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__last-message-time {
    font-size: $font-size-small;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }

  &__last-message {
    white-space: nowrap;
    max-width: 150px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-medium;
  }
}
