@import 'src/shared/variables';

.profile {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: $primary-grey;

    &-image {
      display: flex;
      height: 50%;
      width: 50%;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: rgba(255, 255, 255, 0);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: $white;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &__name {
    margin-bottom: 50px;
    font-size: $font-size-h1;
  }

  &__info {
    width: 50%;
    margin-bottom: 50px;
  }

  &__buttons {
    width: 50%;
  }
}

