@import 'src/shared/variables';

.search-bar {
  display: flex;
  position: relative;

  &__input {
    width: 100%;
    padding: 10px 35px;
    border: 0;
    background-color: $primary-grey;
    border-radius: 5px;
    margin-bottom: 14px;

    &:focus {
      outline: none;
    }

    &:focus + label, &:valid + label {
      top: 19px;
      left: 42px;
      color: transparent;
    }
  }

  &__label {
    .search-bar__icon {
      margin-right: 5px;
    }

    display: flex;
    align-items: center;
    position: absolute;
    transition: 0.2s;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
