@import 'variables';

.main {
  align-items: center;
  background-color: $background;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
}

.workspace {
  background-color: $white;
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.screen-href {
  align-items: center;
  display: flex;
  justify-content: center;
}
