@import 'variables';

.main {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background-color: $background;
  align-items: center;
  justify-content: center;
}

.workspace {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $white;
}

.screen-href {
  display: flex;
  align-items: center;
  justify-content: center;
}
