$primary-red: #e84545;
$background: #2b2e4a;
$card: #53354a;
$secondary: #53354a;
$primary-grey: #efefef;
$secondary-grey: #999;
$background-grey: #fbfbfb;
$primary-blue: #0068ff;
$secondary-blue: #e4edfd;
$white: #fff;

$font-size: 13px;
$font-size-medium: 11px;
$font-size-small: 9px;
$font-size-h1: 20px;
$font-size-code: 40px;

