@import 'src/shared/variables';

.chats-menu {
  width: 25%;
  max-width: 310px;
  border: 0;
  border-right: 1px solid $primary-grey;
  background-color: $background-grey;

  &__header {
    display: flex;
    flex-direction: column;

    .screen-href {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .profile-button {
        display: flex;
        align-self: flex-end;
        width: fit-content;
        color: $secondary-grey;
        text-align: right;
        margin-bottom: 23px;
        cursor: pointer;

        &__chevron {
          margin-left: 8px;
        }
      }
    }
  }

  &__chats-list {
    display: flex;
    flex-direction: column;
  }

  &-hidden {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    max-width: 70px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

    .chats-menu {
      &__header, &__chats-list {
        display: none;
      }
    }

    .button_stop-editing {
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $primary-blue;
      cursor: pointer;
    }
  }
}

.chat-content {
  display: flex;
  width: 100%;
  max-height: 100vh;
}

.button_stop-editing {
  display: none;
}
