@import 'src/shared/variables';

.signin {
  width: 340px;
  height: auto;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  &__title {
    flex-grow: 0;
    margin: 20px 0;
    text-align: center;
    font-size: $font-size-h1;
    cursor: default;
    font-weight: 500;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 20px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
